<footer class="bg-gray-900">
  <p class="block text-center text-sm">
    Personal mission of
    <a target="_blank" href="https://www.linkedin.com/in/oliverlade/">
      Oliver Lade
    </a>
  </p>

  <!--
  <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a>
  -->
</footer>
