<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag principle mx-auto" href="{{ site.baseUrl }}blog/tag/principle">principle</a>
    <a class="tag concept mx-auto" href="{{ site.baseUrl }}blog/tag/concept">concept</a>
    <a class="tag example mx-auto" href="{{ site.baseUrl }}blog/tag/example">example</a>
</div>
