---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/projects/'}}{% if alias %}{{ alias | slug }}{% else %}{{ title | slug }}{% endif %}{% endif %}/index.html"
---

{% extends 'page.njk' %}

{% block body %}
    <p>{{url}}</p>
    <div>
        <h2>{{ title }}</h2>

        <div class="content post">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}
